<div class="container">
  <h2>Person List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of PersonList">
      <td>{{ person.id }}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.isAdmin ? 'Yes' : 'No' }}</td>
      <td>
        <button (click)="editPerson(person.id)">Edit</button>
        <button (click)="deletePerson(person.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
