<div>
  <table>
    <tbody>
    <tr *ngFor="let person of personList; let i = index" (click)="selectPerson(person)"
        [ngClass]="{'pink-background': i % 2 == 0, 'teal-background': i % 2 != 0}">
      <td>{{ person.id }}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.isAdmin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

  <app-person-list-item [person]="selectedPerson"></app-person-list-item>
</div>
